<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Router</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home Page <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dictionary-page">Dictionary Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dictionary">Dictionary</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="login-step-1">Login</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="time-lived">Time Lived</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="youtube">Youtube</a>
      </li>

    </ul>
    <span class="navbar-text">
      <a routerLink="login"><button class="btn btn-primary" style="margin-right: 20px">Login</button></a>
    </span>
    <span class="navbar-text">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </span>
  </div>
</nav>
<br>

<article class="card">
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</article>
